*{
    font-family: "Google Sans", sans-serif;
}

.navBg-color{
    background-color: #1F2937;
}

/* Mega Menu

.mega-menu{
    width:750px;
    left:50%;
    transform:translateX(-50%);
    margin-top:10px;
    border-radius:0;
    overflow:hidden;
}

.list-group-item{
    border:0;
    padding:12px 20px;
    font-size:15px;
}

.list-group-item:hover{
    background:#f8f9fa;
}

.active-category{
    color:#198754;
    font-weight:600;
}

.mega-link{
    display:block;
    color:white;
    text-decoration:none;
    margin-bottom:15px;
    transition:.3s;
}

.mega-link:hover{
    color:#ffd54f;
    padding-left:8px;
} */

